* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #609;
    color: #fff;
    padding-top: 1rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

nav {
    background-color: #944DB8;
    padding: 1rem 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    font-weight: bold;
    font-size: 1.125rem;
    margin-right: 1rem;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

.menu-hamburguer {
    width: 2rem;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 0.125rem;
    background-color: #fff;
    width: 100%;
    display: block;
    margin-bottom: 0.25rem;
}

.container-flex {
    display: flex;
}

#sobre-loja img{
    max-width: 25rem;
    margin-right: 1.5rem;
}

section {
    padding: 3rem 0;
}

section h2 {
    margin-bottom: 1rem;
}

section p {
    margin-bottom: 0.7rem;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 1.5rem;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 1rem 0;
}

button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #609;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
}

.item-central {
    margin: 0 5%;
}

.price {
    margin: 1rem 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 0.9375rem;
}

form {
    max-width: 22.5rem;
}
.form-campo {
    margin-bottom: 1rem;
}

.form-campo label {
    font-weight: 700;
    display: block;
}

.form-campo input, .form-campo textarea{
    width: 100%;
    display: block;
    padding: 0.5rem;
}

.form-campo textarea {
    resize: none;
    height: 7.5rem;
}

form button {
    max-width: 7.5rem;
}

footer li {
    list-style: none;
    margin-left: 1rem;
}

footer li img {
    height: 2rem;
}
